*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background-color: tomato;
  border-style: solid;
}

.bold {
  font-weight: bold;
}

.counter-container {
  display: flex;
  gap: 1rem;
}
